/* стили для центрирования контейнера игры */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* стили для игрового поля */
  .game {
    /* ширина игровой области */
    width: 600px;
    /* высота игровой области */
    height: 200px;
    /* рамка серого цвета и отступы вокруг неё */
    border: 1px solid rgb(122, 122, 122);
    /* относительное позиционирование */
    position: relative;
  }
  
  /* стили для отображения счета */
  #score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: black;
  }
  
  #highScore {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
  }
  
  #dino {
    /* ширина и высота динозаврика */
    width: 50px;
    height: 50px;
    /* путь к изображению динозаврика */
    background-image: url(/imgGame/imgDino/trex.png);
    /* ширина и высота подложки */
    background-size: 50px 50px;
    /* относительное позиционирование */
    position: relative;
    /* отступ сверху */
    top: 150px;
  }
  
  /* класс анимации прыжка */
  .jump {
    animation: jump 0.3s linear;
  }
  
  /* 5 ключевых кадров для анимации прыжка */
  @keyframes jump {
    0% {
      /* начальная позиция */
      top: 150px;
    }
  
    30% {
      /* начало прыжка */
      top: 130px;
    }
  
    50% {
      /* самая высокая точка прыжка */
      top: 50px;
    }
  
    80% {
      /* начало спуска */
      top: 100px;
    }
  
    100% {
      /* возврат в начальную позицию */
      top: 150px;
    }
  }
  
  #cactus {
    /* ширина и высота кактуса */
    width: 20px;
    height: 40px;
    /* относительное позиционирование */
    position: relative;
    /* начальное положение кактуса */
    top: 110px;
    left: 580px;
    /* путь к изображению кактуса */
    background-image: url("/imgGame/imgDino/cactus.png");
    /* ширина и высота подложки */
    background-size: 20px 40px;
    /* анимация перемещения кактуса */
    animation: block 2s infinite linear;
  }
  
  @keyframes block {
    /* начальная позиция кактуса (справа) */
    0% {
      left: 580px;
    }
    /* конечная позиция кактуса (слева, за пределами экрана) */
    100% {
      left: -20px;
    }
  }
  
  #gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* перемещение по вертикали и горизонатли от родительского */
    font-size: 48px;
    color: grey;
    opacity: 0.4;
    text-align: center;
  }

  .previous {
	position: fixed;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 1400px;
    margin-bottom: 700px;
  }
  
  .previous:hover {
    background-color: #B8860B;
    color: black;
  }
  
  .previous {
    background-color: #CD853F;
    color: black;
    border-radius: 10%;
  }