body {
  background-image: url(images/background\ wood.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#playbook {
  background-image: url(images/normal\ book.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 3px solid black;
  border-radius: 15px;
  margin: 50px 100px 50px 100px;
  height: 90%;
  width: 70%;
  position: relative;
  left: 6.5%;
  bottom: 2.5%;
}

#leftside {
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 50%;
}

#divclock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: top;
  width: 100%;
  height: 30%;
}

#clock {
  background-image: url(images/clock12.svg);
  background-size: cover;
  width: 170px;
  height: 170px;
  border: 3px solid black;
  border-radius: 50%;
}

#notebook {
  display: flex;
  float: bottom;
  height: 70%;
  width: 100%;
}

#button {
  position: relative;
  display: flex;
  float: top;
  color: yellow;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#makenote {
  color: lightcoral;
  background: black;
  border: 3px solid lightcoral;
  font-size: 16px;
  font-weight: bold; 
  width: 150px;
  height: 56px;
  border-radius: 15px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#makenote:hover {
  color: black;
  border: 3px solid black;
  box-shadow: 0 0 40px 40px lightcoral inset;
}

#note {
  position: absolute;
  display: flex;
  top: 40%;
  height: 60%;
  width: 100%;
}

#notes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid black;
  border-radius: 16px;
  width: 90%;
  height: 90%;
  margin: 20px;
}

#rightside {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  width: 50%;
}

#games {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 10%;
}

#DinoGame {
  width: 160px;
  height: 160px;
  margin: 30px;
}

#dinolink {
  width: 160px;
  height: 160px;
  border: 3px solid black;
  border-radius: 16px;
}

#dinosvg {
  width: 110px;
  height: 110px;
}

#TicTacToe {
  width: 160px;
  height: 160px;
  margin: 30px;
}

#tictactoelink {
  border: 3px solid black;
  border-radius: 16px;
  width: 160px;
  height: 160px;
}

#tictacsvg {
  width: 105px;
  height: 105px;
}

#RockPaperScissors {
  width: 160px;
  height: 160px;
  margin: 30px;
}

#rockpaperlink {
  border: 3px solid black;
  border-radius: 16px;
  width: 160px;
  height: 160px;
}

#rockpapersvg {
  width: 100px;
  height: 100px;
}

#SnakeGame {
  width: 160px;
  height: 160px;
  margin: 30px;
}

#snakegamelink {
  border: 3px solid black;
  border-radius: 16px;
  width: 160px;
  height: 160px;
}

#snakegamesvg {
  width: 100px;
  height: 100px;
}

#funbutton {
  width: 300px;
  height: 120px;
  margin: 0;
}

#fun {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  border: 3px solid black;
  border-radius: 16px;
}

